<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDX_j7MfzheRIi0fQvuRYnEi-XewvuXs64</string>
	<key>GCM_SENDER_ID</key>
	<string>589553011201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diplomskiRad</string>
	<key>PROJECT_ID</key>
	<string>diplomski-rad-b0131</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomski-rad-b0131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589553011201:ios:baaf9b61848761572a0e00</string>
</dict>
</plist>